@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400;900&display=swap');

:root {
	--font: 'Roboto', sans-serif;
	--title: 'Roboto Condensed', sans-serif;
	--blue: #5e4fff;
	--violet: #a200b8;
	--shadow: 0 0 20px 0 rgba(195, 77, 238, .4);
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
	width: 100%;
}

/* Main Styles */
html {
	background: url('../images/bg.jpg') no-repeat top center;
	background-size: cover;
}

body {
	font-family: var(--title);
	background: rgb(102,61,151);
	background: linear-gradient(90deg, rgba(102,61,151,0.8) 0%, rgba(172,113,175,0.8) 100%);
	min-height: 100vh;
}

.container {
	max-width: 845px;
	min-width: 400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 45px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 45px 60px;
}

.logo {
	margin-left: 5px;
	transition: all .3s;
}

.logo:hover {
	transform: scale(1.2);
}

.menu {
	display: flex;
}

.menu__item {
	margin: 0 25px;
}

.menu__link {
	font: 300 13px var(--font);
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
}

.menu__link::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -2px;
	background: currentColor;
	width: 0;
	height: 1px;
	transition: all .3s;
}

.menu__link:hover::after {
	width: 100%;
	left: 0;
}

.burger-menu {
	width: 30px;
	height: 25px;
	position: relative;
	cursor: pointer;
}

.burger-menu::before,
.burger-menu::after {
	content: '';
	height: 2px;
	width: 100%;
	background: #fff;
	position: absolute;
	left: 0;
	transition: all .3s;
}

.burger-menu::before {
	top: 0;
}

.burger-menu::after {
	bottom: 0;
}

.burger-menu__stick {
	height: 2.5px;
	width: 100%;
	background: #fff;
	display: block;
	margin-top: 11px;
}

.burger-menu:hover .burger-menu__stick {
	display: none;
}

.burger-menu:hover::before {
	transform: rotate(45deg);
	top: 48%;
}

.burger-menu:hover::after {
	transform: rotate(-45deg);
	bottom: 48%;
}

.content__container {
	background: #fff;
	position: relative;
}

.content__container::before,
.content__container::after {
	content: '';
	background: #fff;
	opacity: .5;
	position: absolute;
}

.content__container::before {
	width: calc(100% + 30px);
	height: calc(100% - 30px);
	top: 15px;
	left: -15px;
}

.content__container::after {
	width: calc(100% + 60px);
	height: calc(100% - 60px);
	top: 30px;
	left: -30px;
}

.wrapper {
	position: relative;
	z-index: 1;
	display: flex;
}

.gallery {
	flex-grow: 1;
	min-height: 450px;
	background: rgb(237,234,236);
	background: linear-gradient(180deg, rgba(237,234,236,1) 0%, rgba(244,244,244,1) 100%);
}

.info {
	width: 280px;
	padding: 45px 30px;
	position: relative;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #d7d7d7;
	font: 300 40px/11px var(--font);
	cursor: pointer;
	transition: all .3s;
}

.close:hover {
	color: var(--blue);
}

.button {
	width: 120px;
	height: 30px;
	padding: 0 10px;
	border: 1px solid #000;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	background: #fff;
	line-height: 30px;
	font-size: 12px;
	margin-bottom: 5px;
	cursor: pointer;
	user-select: none;
	transition: all .3s;
}

.button:hover {
	background: var(--blue);
	color: #fff;
	border-color: var(--blue);
	box-shadow: var(--shadow);
}

.button--violet {
	background: var(--violet);
	color: #fff;
	border-color: var(--violet);
}

.info__label {
	font: 14px var(--font);
	text-transform: uppercase;
	padding: 5px 7px;
	background: #ccc;
	display: inline-block;
	margin-bottom: 10px;
}

.info__label--yellow {
	background: #ffa60d;
	color: #fff;
}

.info__title {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.info__title-mark {
	color: var(--blue);
}

.brand {
	display: flex;
	align-items: baseline;
	margin-bottom: 15px;
}

.brand__name {
	font-size: 12px;
	margin-right: 15px;
}

.star {
	display: flex;
	font-size: 14px;
}

.star__item {
	margin-right: 2px;
}

.info__price {
	font: 300 22px var(--font);
	margin-bottom: 25px;
}

.size {
	margin-bottom: 35px;
}

.size__title {
	font: 12px var(--font);
	margin-bottom: 5px;
}

.size__list {
	display: flex;
}

.size__item {
	margin-right: 20px;
	border: 1px solid transparent;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 23px;
	cursor: pointer;
	transition: all .3s;
}

.size__item:last-child {
	margin-right: 0;
}

.size__item--active {
	border-color: currentColor;
}

.size__item:hover {
	background: var(--blue);
	border-color: var(--blue);
	color: #fff;
	box-shadow: var(--shadow);
}

.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.gallery__img {
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.gallery__img::before {
	content: attr(data-title);
	font: 900 75px var(--font);
	text-transform: uppercase;
	position: absolute;
	top: 23%;
	color: #fff;
	text-shadow: 0 0 50px rgba(195, 77, 238, .1);
}

.gallery__img::after {
	content: '';
	background: url('../images/snickers-bg.png') no-repeat top center;
	background-size: contain;
	width: 100%;
	height: 160px;
	position: absolute;
	left: 0;
	top: 21%;
}

.gallery__main-img {
	max-width: 90%;
	position: relative;
}

.gallery__list {
	height: 85px;
	display: flex;
	align-items: center;
}

.gallery__item {
	margin: 0 10px;
	border: 2px solid #fff;
	width: 45px;
	height: 45px;
	overflow: hidden;
	cursor: pointer;
	transition: all .5s;
}

.gallery__item:hover {
	border-color: var(--blue);
	box-shadow: var(--shadow);
}

.gallery__item--active {
	border-color: var(--blue);
}

.gallery__pic {
	width: 100%;
	min-height: 100%;
}

.gallery__zoom {
	position: absolute;
    right: 20px;
    bottom: 75px;
    width: 21px;
    height: 21px;
    cursor: zoom-in;
}

.gallery__zoom::before, 
.gallery__zoom::after {
    content: '';
    position: absolute;
    background: currentColor;
    width: 100%;
    height: 1px;
    left: 0;
    top: 49%;
    transition: all .3s;
}

.gallery__zoom::after {
    transform: rotate(90deg);
}

.gallery__zoom:hover::before, 
.gallery__zoom:hover::after {
	background: var(--blue);
	box-shadow: var(--shadow);
}